@font-face {
  font-family: 'Brandon-grotesque-medium';
  src: url('../fonts/Brandon_med.eot');
  src: local('☺'), url('../fonts/Brandon_med.woff') format('woff'), url('../fonts/Brandon_med.ttf') format('truetype'), url('../fonts/Brandon_med.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-grotesque-regular';
  src: url('../fonts/Brandon_reg.eot');
  src: local('☺'), url('../fonts/Brandon_reg.woff') format('woff'), url('../fonts/Brandon_reg.ttf') format('truetype'), url('../fonts/Brandon_reg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-grotesque-bold';
  src: url('../fonts/Brandon_bld.eot');
  src: local('☺'), url('../fonts/Brandon_bld.woff') format('woff'), url('../fonts/Brandon_bld.ttf') format('truetype'), url('../fonts/Brandon_bld.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-grotesque-black';
  src: url('../fonts/brandon-grotesque-black.eot');
  src: local('☺'), url('../fonts/brandon-grotesque-black.woff') format('woff'), url('../fonts/brandon-grotesque-black.ttf') format('truetype'), url('../fonts/brandon-grotesque-black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-grotesque-light';
  src: url('../fonts/brandon-grotesque-light.eot');
  src: local('☺'), url('../fonts/brandon-grotesque-light.woff') format('woff'), url('../fonts/brandon-grotesque-light.ttf') format('truetype'), url('../fonts/brandon-grotesque-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-grotesque-light-italic';
  src: url('../fonts/brandon-grotesque-light-italic.eot');
  src: local('☺'), url('../fonts/brandon-grotesque-light-italic.woff') format('woff'), url('../fonts/brandon-grotesque-light-italic.ttf') format('truetype'), url('../fonts/brandon-grotesque-light-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-grotesque-regular-italic';
  src: url('../fonts/brandon-grotesque-regular-italic.eot');
  src: local('☺'), url('../fonts/brandon-grotesque-regular-italic.woff') format('woff'), url('../fonts/brandon-grotesque-regular-italic.ttf') format('truetype'), url('../fonts/brandon-grotesque-regular-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "inc/general";
@import "inc/grid";
@import "inc/doctors";
@import "inc/locations";
@import "inc/filter-elements";
@import "inc/departments";
@import "inc/carousel";
@import "inc/theme-carousel";
