//color variables
$blue-grey: #9da6c0;
$pale-grey: #e3e9f3;
$light-blue-grey: #dadfed;
$sickly-yellow: #bdd73c;
$charcoal-grey: #2d3039;
$orange-red: #f85334;
$deep-sky-blue: #0086c8;
$cloudy-blue: #b1b8cd;
$charcoal-grey-two: #485053;
$bluish-grey: #808d93;
$white: #ffffff;
$black: #000000;
$grey: #e8e8e8;
$blue:#2b427d;
$light-blue:#e1edf8;
$light-grey: #f8f8f8;
$thin-grey: #dedede;
$ultra-grey: #efefef;
$medium-grey: #cccccc;

$brandon_light: 'Brandon-grotesque-light', sans-serif;
$brandon_italic: 'Brandon-grotesque-regular-italic', sans-serif;
$brandon_light_italic: 'Brandon-grotesque-light-italic', sans-serif;
$brandon_bold: 'Brandon-grotesque-bold', sans-serif;
$brandon_regular: 'Brandon-grotesque-regular', sans-serif;
$brandon_medium: 'Brandon-grotesque-medium', sans-serif;

//responsive variables
$xs-breakpoint: 481px;
$sm1-breakpoint: 576px;
$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1280px;
$xl-breakpoint: 1440px;
$iPad-pro-breakpoint: 1024px;