//color variables
$white: #ffffff;
$black: #000000;
$grey: #e8e8e8;
$blue: #2b427d;
$medium-grey: #aaaaaa;
$dark-gray: #333333;
$green: #4CAF50;
$dark-green: #008000;
$light-green:#C9FFCA;
$red: red;
$wheat: wheat;
